* {
  margin: 0;
  padding: 0;
}
html {

  scroll-behavior: smooth;
}
:root{
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}
@font-face {
  font-family: Staatliches;
  src: local("Staatliches"), local("Staatliches-Regular"), url(Staatliches-Regular.ttf);
  font-weight: bold;
}
body {
  font-size: 16px;
  font-family: Staatliches;
  overflow-x: hidden
}
.firstpage {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}
.logo{
  
  background-image: url("../img/logonegro.png");
  height: 20%;
  background-repeat: no-repeat;
  margin: 2% 0% 5% 2%;
  background-size: contain;
}
nav {
  position: absolute;
  margin: 2% 10%;
  word-spacing: 2vw;
  z-index: 60;
  top: 5%;
  font-size: 1.5em;
}

.welcome-container-text {
  clip-path: polygon(100% 0, 86% 55%, 75% 100%, 0% 100%, 0 49%, 0% 0%);
  background-color: #ffffff;
  height: 30%;
  width: 50%;
  padding: 1% 1% 2% 2%;
  z-index: index 1;
  position: absolute;
}
.welcome-container-text2 {
  clip-path: polygon(68% 0, 86% 55%, 100% 100%, 0 100%, 0 49%, 0 0);
  background-color: #000;
  height: 34%;
  width: 50%;
  padding: 1% 1% 2% 2%;
  z-index: index -1;
  position: absolute;
}
.text-welcome {
  width: 70%;
  height: 70%;
}

.welcome {
  display: flex;
  justify-content: center;
  font-size: 4em;
  margin: 0;
}
.presentation {
  font-size: 2em;
}
.foto {
  background-image: url(../img/seisi.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin: -15% 0px 0px 0px;
  z-index: 30;

  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.foto:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.skills {
  height: 102vh;
  display: block;
}

.contact-container {
  margin-top: 46%;
}
.contact-container-text {
  clip-path: polygon(100% 0, 86% 55%, 75% 100%, 0% 100%, 0 49%, 0% 0%);
  background-color: #fafafa;
  height: 70%;
  width: 50%;
  padding: 1% 1% 2% 2%;
  z-index: index 1;
  position: absolute;
}
.contact-container-text2 {
  clip-path: polygon(68% 0, 86% 55%, 100% 100%, 0 100%, 0 49%, 0 0);
  background-color: #000;
  height: 75%;
  width: 50%;
  padding: 1% 1% 2% 2%;
  z-index: index -1;
  position: absolute;
}

#snake-container {
  background-image: url(../img/snake.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  background-position: center;
  z-index: 50;
  position: relative;
  margin: 0% 0% 0% 40%;
  top: -130px;
  padding-top: 10%;
}
.skills-frontend-container, .skills-backend-container, .skills-socialmedia-container {
  clip-path: polygon(100% -2px, 100% 100%, 0% 100%, 0px 34.55%);
  background-color: black;
  height: 72%;
  width: 25%;
  z-index: index -1;
  position: absolute;
  margin: 0% 0% 0% -12%;
}

.skills-frontend-container-2, .skills-backend-container-2, .skills-socialmedia-container-2 {
  clip-path: polygon(100% 0px, 100% 149px, 100% 100%, 0% 99.67%, 0px 50%, 1px -9.39%);
  background-color: #ffffff;
  height: 25%;
  width: 25%;
  z-index: index 1;
  position: absolute;
  margin: 0% 0% 0% -12%;
}

.projects-col1-frontend-container, .projects-col1-backend-container, .projects-col1-socialmedia-container {
  clip-path: polygon(88% 95px, 100% 100%, 0% 100%, 1px 35%);
  background-color: #ffffff;
  height: 70%;
  width: 39%;
  z-index: 90;
  position: absolute;
  margin: 0% 0% 0% -19%;
}
.projects-col1-frontend-container-2, .projects-col1-backend-container-2, .projects-col1-socialmedia-container-2 {
  clip-path: polygon(100% 0px, 90% 148px, 0% 100%, 0px 50%, 1px 0%);
  background-color: #ffffff;
  height: 25%;
  width: 37%;
  z-index: 80;
  position: absolute;
  margin: 0% 0% 0% -19%;
}

.projects-col2-frontend-container, .projects-col2-backend-container, .projects-col2-socialmedia-container {
  clip-path: polygon(100% 85px, 100% 100%, 0% 100%, 10% 52%, 18% 30%);
  background-color: #000;
  height: 68%;
  width: 35%;
  z-index: 90;
  position: absolute;
  margin: 0% 0% 0% -19%;
}
.projects-col2-frontend-container-2, .projects-col2-backend-container-2, .projects-col2-socialmedia-container-2 {
  clip-path: polygon(100% 0px, 100% 150px, 100% 100%, 10% 100%, 2px -0.5%);
  background-color: #000;
  height: 35%;
  width: 35%;
  z-index: 80;
  position: absolute;
  margin: 0% 0% 0% -19%;
}

.frontend-text {
  color: blanchedalmond;
  font-size: 1.8em;
  text-align: justify;
  padding: 47% 5% 0% 4%;
}
.proyect-text {
  color: rgb(0, 0, 0);
  font-size: 3.3em;
  text-align: justify;
  padding: 28% 7% 0% 4%;
}
.proyect-text2 {
  color: rgb(255, 255, 255);
  font-size: 3.1em;
  text-align: right;
  padding: 31% 5% 0% 7%;
}

h3 {
  display: flex;
  justify-content: center;
  padding: 2% 0% 2% 0%;
  font-size: 6em;
}
.title-skills {
  padding: 0% 0% 0% 1%;
  font-size: 3.2em;
  color: #000;
}
.title-skills1 {
  padding: 2% 0% 0% 4%;
  font-size: 3em;
  color: #000;
}

.title-projects-col1 {
  padding: 2% 0% 0% 18%;
  font-size: 4em;
  color: #000;
}

.title-projects-col2 {
  padding: 3% 0% 0% 28%;
  font-size: 4em;
  color: #fff;
}

section {
  display: flex;
  justify-content: space-around;
}

.projects {
  background-color: #A5B61A;
  height: 70%;
  display: block;
}
.contact {
  background-color: #d3692b;
  height: 70%;
  display: block;
}
.title-projects {
  padding: 4% 0% 0% 7%;
  font-size: 2em;
}
.projects-frontend-container, .projects-backend-container, .projects-container {
  clip-path: polygon(100% 0px, 100% 149px, 100% 100%, 0% 99.67%, 0px 50%, 1px -9.39%);
  background-color: #A5B61A;
  height: 38%;
  width: 25%;
  z-index: index 1;
  position: absolute;
  margin: 0% 0% 0% -12%;
}

.css-selector {
  background: linear-gradient(180deg,#045004, #097609, #70af1a, #d9d40b, #e5eb0b,  #a7a7a7);
  background-size: 1400% 1400%;

  -webkit-animation: DegradadoAnimado 30s ease infinite;
  -moz-animation: DegradadoAnimado 30s ease infinite;
  -o-animation: DegradadoAnimado 30s ease infinite;
  animation: DegradadoAnimado 30s ease infinite;
}

@-webkit-keyframes DegradadoAnimado {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes DegradadoAnimado {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@-o-keyframes DegradadoAnimado {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@keyframes DegradadoAnimado {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}

.myButton {
	background:linear-gradient(to bottom, #000000 5%, #000000 100%);
	background-color:#000000;
	border-radius:10px;
	
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d1d1d1;
}
.myButton:hover {
	background:linear-gradient(to bottom, #000000 5%, #000000 100%);
	background-color:#000000;
}
.myButton:active {
	position:relative;
	top:1px;
}
.css-input {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75);
  margin-bottom: 2%;
}
.css-input:focus {
  outline:none;
}

.input-size{
  width:100%;
}

.me-container{
  margin-top:8%;
}



.footer {
  background-color: #000;
  height: 5%;
  width: 100%;
  text-align: center;
  color: #fff;
  position: relative;
  padding-top: 1%;
  
}

@media screen and (max-width : 1024px) {
  .welcome-container-text {
    height: 30%;
    width: 60%;
} 
.contact-container {
  margin-top: 66%;
}  
nav {
  position: absolute;
  margin: 2% 16%;
  word-spacing: 2vw;
  z-index: 60;
  top: 5%;
  font-size: 1.6em;
}
  
.welcome-container-text2 {
   height: 36%;
  width: 54%; 
}
.foto {
  height: 65%;
  margin: -13% -110px 0px 0px;
}
.footer {
  width: 111%;
}


.skills-frontend-container-2, .skills-backend-container-2, .skills-socialmedia-container-2 {
  height: 23%;
  width: 31%;
  margin: 0% 0% 0% -10%;
}
.skills-frontend-container, .skills-backend-container, .skills-socialmedia-container {
  height: 67%;
  width: 31%;
  margin: 0% 0% 0% -10%;
}
h3 {
    padding: 4% 0% 4% 12%;
    font-size: 12vh;
}
.projects-col1-frontend-container-2, .projects-col1-backend-container-2, .projects-col1-socialmedia-container-2 {
  height: 27%;
  width: 42%;
  margin: 0% 0% 0% -16%;
}
.projects-col1-frontend-container, .projects-col1-backend-container, .projects-col1-socialmedia-container {
  height: 68%;
  width: 43%;
  margin: 0% 0% 0% -16.1%;
}
.projects-col2-frontend-container-2, .projects-col2-backend-container-2, .projects-col2-socialmedia-container-2 {
  height: 39%;
  width: 43%;
  margin: 0% 0% 0% -16.1%;
}
.projects-col2-frontend-container, .projects-col2-backend-container, .projects-col2-socialmedia-container {
  height: 68%;
  width: 43%;
  margin: 0% 0% 0% -16.1%;
}
.title-projects-col2 {
  font-size: 5vw;
  
}
.frontend-text {
  color: blanchedalmond;
  font-size: 1.7em;
  text-align: justify;
  padding: 54% 5% 0% 5%;
}
.proyect-text {
  font-size: 3.1em;
  padding: 38% 7% 0% 4%;
}
.title-projects-col1 {
  padding: 2% 0% 0% 18%;
  font-size: 6vw;
  color: #000;
}
.proyect-text2 {
  color: rgb(255, 255, 255);
  font-size: 3.1em;
  text-align: right;
  padding: 35% 5% 0% 7%;
}
.contact-container-text {
 height: 80%;
  width: 56%;
}
.contact-container-text2 {
 width: 62%;
}
#snake-container {
  height: 103%;
  margin: 0% 0% 0% 72%;
}
}
 @media screen and (max-width : 768px) {
   
 .logo {
  height: 16%;}
  nav {
  margin: 2% 15%;}

.foto {
  height: 57%;}
.welcome-container-text {
    height: 33%;}

.title-skills {
  font-size: 2.6em; 
  }
.frontend-text {
    font-size: 1.4em;
    padding: 60% 5% 0% 4%;
}
.proyect-text2 {
  color: rgb(255, 255, 255);
  font-size: 2.6em;
  text-align: right;
  padding: 50% 5% 0% 7%;
}
.title-projects-col2 {
  padding: 2% 0% 0% 14%;
  font-size: 3.3em;

}
.title-projects-col1 {
  font-size: 3em;}

.proyect-text {
  font-size: 2.7em;
  padding: 50% 7% 0% 4%;
}
#snake-container {
  height: 85%;
}
.contact-container {
  margin-top: 79%;
}
.footer {
  width: 115%;
}
 }
 @media screen and (max-width : 430px) {
  nav {
    margin: 3% 0% 0% 30%;
}
.logo {
  height: 15%;
}.foto {
  height: 49%;
  margin: 334px 25px 0px 0px;
}
.welcome-container-text {
  height: 34%;
  width: 106%;
}
.welcome-container-text2 {
  height: 37%;
  width: 104%;
}
  .foto {
    height: 49%;
    margin: 334px 25px 0px 0px;
}
section {
  display:flex;
  flex-direction: column;
  justify-content: center;

}
.skills1{
  margin: auto;
}
.skills2 {
  margin: 730px 0px -367px 212px;
}
.skills3 {
  margin: auto;
}

.skills-frontend-container-2, .skills-backend-container-2, .skills-socialmedia-container-2 {
    height: 24%;
    width: 80%;
    margin: 0% 0% 0% -34%;
}
.skills-frontend-container, .skills-backend-container, .skills-socialmedia-container {
  height: 42%;
  width: 80%;
  margin: 0% 0% 0% -34%

}
.title-skills {
  font-size: 3em;
}
.frontend-text {
  font-size: 1.4em;
  padding: 34% 5% 0% 4%;
}
.skills {
  height: 160vh;
  display: block;
}
.container-proyecto{
  margin: auto;
}
.container-proyecto2{
  margin: 394px 0px 4px 212px;

}
.projects-col1-frontend-container, .projects-col1-backend-container, .projects-col1-socialmedia-container {
  height: 46%;
  width: 78%;
  margin: 1% 0% 0% -30%;
}
.projects-col1-frontend-container-2, .projects-col1-backend-container-2, .projects-col1-socialmedia-container-2 {
  height: 25%;
  width: 74%;
  margin: 0% 0% 0% -30%;
}
.proyect-text {
  font-size: 2.4em;
  padding: 39% 7% 0% 4%;
}
.title-projects-col1 {
  font-size: 3.5em;
  padding: 2% 0% 0% 11%;
}

.projects-col2-frontend-container-2, .projects-col2-backend-container-2, .projects-col2-socialmedia-container-2 {
  height: 46%;
  width: 78%;
  margin: 0% 0% 0% -30%;
}
.projects-col2-frontend-container, .projects-col2-backend-container, .projects-col2-socialmedia-container {
  height: 46%;
  width: 78%;
  margin: 0% 0% 0% -30%;
}
.title-projects-col2 {
  padding: 2% 0% 0% 14%;
  font-size: 3.5em;
}
.proyect-text2 {
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  text-align: right;
  padding: 36% 5% 0% 7%;
}
.contact-container {
  margin-top: 109%;
}
.contact-container-text2 {
  width: 100%;
}
.contact-container-text {
  height: 69%;
  width: 100%;
}
#snake-container{
  
    background-image:unset;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    background-position: center;
    z-index: 50;
    position: relative;
    margin: 0% 0% 0% 40%;
    top: -130px;
    padding-top: 10%;
}
 }
 